<nav class="navbar navbar-expand navbar-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ "products/" | absURL }}">All</a>
        </li>
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .Permalink }}">{{ .Title | title }}</a>
        </li>
        {{ end }}
        <div class="header__cart">
            <a href="#" class="snipcart-checkout" style="text-decoration: none;">
              <div class="snipcart-summary">
                <img src="/img/cart.svg" alt="">
                <span class="snipcart-total-price"></span>
              </div>
            </a>
          </div>
    </ul>
</nav>